@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
	font-family: 'Nanum Gothic', serif;
	font-weight: 400;
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table * {
  -webkit-touch-callout: all;
	-webkit-user-select: all;
	-khtml-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

.small {
	font-size: .7rem;
}

.big {
	height: 36px;
	width: 36px;
}

paper-checkbox {
	padding: 20px 10px 20px 20px;
}

.panel {
	padding: 0 10px 0 10px;
}

#clear-button {
	padding: 0 0 0 40px;
}

#search-reset {
	width: 150px;
}

paper-radio-button::shadow #ink {
  color: grey;
}

paper-radio-button.reset-black::shadow #onRadio {
  background-color: grey;
}

paper-radio-button.reset-red::shadow #onRadio {
  background-color: crimson;
}

paper-radio-button.reset-pink::shadow #onRadio {
  background-color: hotpink;
}

paper-radio-button.reset-green::shadow #onRadio {
  background-color: yellowgreen;
}

paper-radio-button.reset-blue::shadow #onRadio {
  background-color: dodgerblue;
}

paper-input-decorator /deep/ .focused-underline, paper-input-decorator /deep/ .cursor {
	/* line color when the input is focused */
	background-color: #0f9d58;
}

table, th, td {	
	text-align: center;
	vertical-align: middle;
}

table {
	font-size: .8rem;
}

th, th > * {
	font-weight: bold;
	cursor: default;
}

h1, h2, h3, h4, h5, h6 {
	margin: auto;
}

a {
	color: #31B404;
}

a:hover, a:focus {
	color: #298A08;
}

core-animated-pages {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  overflow: hidden;
}

core-animated-pages > * {
  border-radius: 5px;
  background-color: white;
}

body /deep/ core-toolbar {
  background-color: #31B404;
  color: #fff;
	font-size: 1.4rem;
	cursor: default;
}

nav {	
	overflow-y: auto;
}

core-menu {
  color: #298A08;
  margin: 10px 0 0 0;
}

core-item, core-submenu {
  transition: all 300ms ease-in-out;
	padding: 4px 16px;
}

core-item.core-selected {
  background: #E3F6CE;
	font-weight: normal;
}

.content {
	overflow: auto;
}

.content > div > table, .panel {	
	max-width: 800px;
}

@media all and (max-width: 800px) {
  core-animated-pages {
    width: 100%;
    height: 100%;
  }
	
	.sub, .sub * {
		display: none;
	}
}